<div class="contenedor">
  <div class="page-header">
    <h2 class="page-title">Página no encontrada</h2>
    <p class="page-description">La página que intentas acceder no existe o fue movida.</p>
  </div>

  <div class="grid-opciones">
    <a class="boton-opcion" href="/">Volver al inicio</a>
  </div>
</div>
